.pwi_loader{
	height: 60px;
	width: 200;
	border: 1px solid #7F7F7F;
}

.pwi_container{
	font-size: 8pt;
	padding: 5px;
}

.pwi_container a{
}

.pwi_album_description{
	text-align: left;
	/*
	color: #000000;
	font-family: Arial;
	font-size: 8pt;
	background-color: #7F7F7F;
	padding: 10px;
	*/

}

.pwi_album_description .title{
    font-weight: bold;
	font-size:12px;
	text-transform:uppercase;

}
.pwi_album_description .details{
	font-size: 8pt;
	font-style: italic;
}
.pwi_album_description .description{
	font-size: 10pt;
	padding: 5px;
}
.pwi_album_description .sslink{

}

.pwi_album{
	float: left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	margin: 1em;
	text-align: center;
	cursor: pointer;
	width:150px;
	height:200px;
	line-height: 15px;
}

.pwi_album .photos {
	text-align: left;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	font-weight:normal;
	text-align: center;
	line-height: 15px;
}

.pwi_album_backlink{
	text-decoration: underline;
	cursor: pointer;
	margin-bottom:20px;
}

.pwi_album img{
	border: 0px solid #7F7F7F;
	margin-bottom:5px;
}

.pwi_photo{
	float: left;
	margin: 1em;
	text-align: center;
	border: 0px dotted white;
}
.pwi_photo img{
	border: 0px solid #7F7F7F;
}

.pwi_photo a{
	text-decoration: none;	
}

.pwi_pager{
	clear: both;
}
.pwi_prevpage, .pwi_nextpage, .pwi_pager_page, .pwi_pager_current{
	float: left;
	margin: 5px;

}
.link{
	text-decoration: underline;
	cursor: pointer;
}

.pwi_pager_current{
	text-decoration: none;
	font-weight: bold;
}
